* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// variabeles

// colores
$bgColor: #788995;
$titleColor: #0B1F52;
$primaryColor: #55FFCC;
$secondColor: #0A6091;


@font-face {
    font-family: "product-sans";
    src: url("/Fuentes/product-sans/Product\ Sans\ Bold.ttf");
    src: url("/Fuentes/product-sans/Product\ Sans\ Bold\ Italic.ttf");
    src: url("/Fuentes/product-sans/Product\ Sans\ Italic.ttf");
    src: url("/Fuentes/product-sans/Product\ Sans\ Regular.ttf");
}


.main {
    margin-top: 10px;
    font-family: product-sans;
}
$body:(
    color:#788995,
    1rem: 1rem,
);

body{
    background-color: map-get($map: $body, $key: color);
    padding: map-get($map: $body, $key: 1rem/2);
}
nav{
    float: right;
    ul {
        list-style: none;
        padding-right: 20px;
    }
}
.header {
    background-color: $primaryColor;
    padding: 1rem 0;
    font-family: product-sans;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.destacados {
    text-align: justify;
    justify-content: space-evenly;
}

.listDestacados {
    font-size: 20px;
    font-family: Dubai;
}

.noticias {
    text-align: center;
}

h1, h2, h3{
    color: $titleColor;
    font-weight: bold;
    font-family: product-sans;
}


.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.calendar {
    display: block;
    justify-content: center;
    width:max-content;
    ol{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 0;
    }
    .first-day{
        grid-column-start: 4;
    }
    .day-name{
        font-weight: bold;
    }
    li{
        text-align: right;
    }
}
.bold{
    font-weight: bold;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 20px;
        font-family: Product Sans;
        font-weight: bold;
        li {
            display: inline-block;
            padding: 0.5rem 0.5rem;
        }
    }
}

.LogoBorde {
    border: 2px;
    border-radius: 15px 50px 30px;
}

.footer-icon{
    text-shadow: 0 0 15px;
    animation: animate 1s infinite linear
}

@mixin mixinpb{
    font-family: Dubai;
    color:gray;
    font-weight: bold;
    background-color: $secondColor;
    width: 100%;
    text-align: center;
}
@mixin mixin1{
    text-align: center;
    background-color: $secondColor;
    padding: 1rem;
    color: black;
}
@mixin mixin2 {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
}
footer{
    @include mixinpb(); 
}
@keyframes animate{
    0%,
    100%{
        color: deeppink;
    }
    25%{
        color: deepskyblue;
    }
    50%{
        color: lawngreen;
    }
    75%{
        color: yellow;
    }
}
footer p {
    text-align: center;
    margin-top: 2%;
}

p {
    font-family: Dubai;
    text-align: justify;
}
.img{
    text-align: center;
    justify-content: space-around;

}

.ubi{
    h2, .subItem{
        margin: 10px;
        padding: 1rem 0;
        background-color: $secondColor;
        text-align: center;
    }
    text-align: center;
}


.puntos{
    background-color: $secondColor;
}

.infoPublica{
    @include mixin1();
} 

.atencion{
    @include mixin1();
}

.botones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.boton{
    background-color: $secondColor;
}
.ubi iframe{
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: center;
}
form{
    text-align: center;
    p{
        text-align: center;
    }
}

.contact{
    font-weight: bold;
}

.videos iframe{
    display: block;
    margin: 1% auto;
    width:50%;
}
.mapCovid iframe{
    justify-content: center;
}
img:hover{-webkit-transform:scale(1.1);transform:scale(1.1);}
img{overflow:hidden;}

$mobile: 480px;
$tablet: 1023px;

a{
    color: black;
    &:hover{color: lightblue;}
    &:active{color: aqua}
}

@media (max-width: $mobile){
    
    /* Index */

    .LogoBorde{
        max-width: 100%;
        max-height: 100%;
    }
    .logo-mobile{
        height: 100px;
        width: 200px;
    }
    .grid{
        display: inline-block;
        grid-template-rows: 1fr;
    }
    .LogoBorde{
        max-width: 80%;
        max-height: 80%;
        border-radius: 7px 25px 15px;
    }
    .videos iframe{
        display: block;
        margin: 1% auto;
        width: auto;
        height: auto;
    }
    .twitter{
        width: auto;
    }
    .noticias{
        width: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    .destacados{
        width: 100%;
    }
    .eventos{
        text-align: center;
    }
    .calendar{
        display: flex;
        justify-content: center;
    }

    /* Nosotros */
    .ubi iframe{
        @include mixin2();
    }
    .img{
        @include mixin2();
    }
    /* Información Pública*/
    /* como es texto, no hay mucho para hacer yujuuu!*/
    /* atención*/
    .botones{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
    }
    /* Contáctanos */
    /*igual xd */
}
@media (max-width: $tablet){
    .grid{
        display: inline-block;
        grid-template-rows: 1fr;
    }
    .logoBorde{
            max-width: 80%;
            max-height: 80%;
            border-radius: 7px 25px 15px;
        }
    .videos{
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        iframe{
            display: block;
            margin: 1% auto;
            width: auto;
            height: auto;
        }
    }
    .twitter{
            width: auto;
            text-align: center;
        }
    .noticias{
            width: auto;
            img{
                width: 100%;
                height: auto;
                max-width: 70%;
            }
        }
    .destacados{
            width: 100%;
        }
    .eventos{
            text-align: center;
        }
    .calendar{
            display: flex;
            justify-content: center;
            text-align: center;
            h2{
                text-align: center;
                justify-content: center;
            }
        }
}