* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// variabeles

// colores
$bgColor: #788995;
$titleColor: #0B1F52;
$primaryColor: #55FFCC;
$secondColor: #0A6091;


@font-face {
    font-family: "product-sans";
    src: url("/Fuentes/product-sans/Product\ Sans\ Bold.ttf");
    src: url("/Fuentes/product-sans/Product\ Sans\ Bold\ Italic.ttf");
    src: url("/Fuentes/product-sans/Product\ Sans\ Italic.ttf");
    src: url("/Fuentes/product-sans/Product\ Sans\ Regular.ttf");
}


.main {
    margin-top: 10px;
    font-family: product-sans;
}
$body:(
    color:#788995,
    1rem: 1rem,
);

body{
    background-color: map-get($map: $body, $key: color);
    padding: map-get($map: $body, $key: 1rem/2);
    padding-bottom: 3em;
    min-height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.destacados {
    text-align: justify;
    justify-content: space-evenly;
}

.listDestacados {
    font-size: 20px;
    font-family: Dubai;
}

.noticias {
    text-align: center;
}

h1, h2, h3{
    color: $titleColor;
    font-weight: bold;
    font-family: product-sans;
}


.container {
    width: 100%;
    max-width: 1200px;
}

.calendar {
    display: block;
    justify-content: center;
    width:max-content;
    ol{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 0;
    }
    .first-day{
        grid-column-start: 4;
    }
    .day-name{
        font-weight: bold;
    }
    li{
        text-align: right;
    }
}
.bold{
    font-weight: bold;
}

//nav
.header{
    background-color: #55FFCC;
    padding: 0;
    font-family: product-sans;
    width: 100%;
    height: auto;
}
nav{
    background-color: $primaryColor;
    color: $titleColor;
    height:120px;
    margin: 0;
    padding: 0;
    .nav__container{
        display: flex;
        width: 1200px;
        margin: 0 auto;
        align-items:center;
    }
    .nav__label, .nav__input{
        display: none;
    }
    .nav__menu{
        display: grid;
        grid-auto-flow: column;
        gap: 3em;
        font-size: 18px;
        display: flex;
        width: 100%;
        margin-left: 250px;
        margin-left: 250px;
    }
    .nav__item{
        color: $titleColor;
        font-weight: bold;
        &:hover{
            color: black;
            background-color: $secondColor;
        }
    }
    .nav__logo{
        border: 2px;
        border-radius: 15px 30px 30px;
    }
}

.footer-icon{
    font-size: 25px;
    text-shadow: 0 0 15px;
    animation: animate 5s infinite linear
}

@mixin mxfooter{
    font-family: Dubai;
    color:white;
    background-color: $secondColor;
    text-align: center;
    position: absolute;
    width: 100%;
}
@mixin mixin1{
    text-align: center;
    background-color: $secondColor;
    padding: 1rem;
    color: black;
}
@mixin mixin2 {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
}

footer{
    @include mxfooter();
    p {
        text-align: center;
        margin-top: 2%;
    }
}
@keyframes animate{
    0%,
    100%{
        color: deeppink;
    }
    25%{
        color: deepskyblue;
    }
    50%{
        color: lawngreen;
    }
    75%{
        color: yellow;
    }
}

p {
    font-family: Dubai;
    text-align: justify;
}
.img{
    text-align: center;
    justify-content: space-around;

}

.ubi{
    h2, .subItem{
        margin: 10px;
        padding: 1rem 0;
        background-color: $secondColor;
        text-align: center;
    }
    text-align: center;
}


.puntos{
    background-color: $secondColor;
}

.infoPublica{
    @include mixin1();
} 

.atencion{
    @include mixin1();
}

.botones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 70px;
    margin-bottom: 15px;
}

.boton{
    background-color: $secondColor;
    height: 70px;
    font-size: 100%;

}
.ubi{
    iframe{
        display: flex;
        width: 100%;
        height: 350px;
        justify-content: center;
        } 
    }

form{
    text-align: center;
    padding-bottom: 10px;
    p{
        text-align: center;
        font-weight: bold;
        padding-top: 25px;
    }
}

.btncontact{
    padding-top: 25px;
}
.videos{
    iframe{
        display: flex;
        margin: 1% auto;
        width:50%;
    }
}
.mapCovid iframe{
    justify-content: center;
}
img:hover{-webkit-transform:scale(1.1);transform:scale(1.1);}
img{overflow:hidden;}



// breackpoints

$mobile: 320px;
$tablet: 768px;
$largeScreen: 1200px;

/* agua es god */
@media (max-width: $mobile){
    /* Index */
    .grid{
        display: inline-block;
        grid-template-rows: 1fr;
    }
    footer{
        margin-top: 10px;
    }
    .videos{
        width: auto;
        iframe{
            width: 100%;
        }
    }
    .twitter{
        width: auto;
    }
    .noticias{
        width: auto;
        img{
            width: 100%;
        }
    }
    .destacados{
        width: 100%;
    }
    .eventos{
        text-align: center;
    }
    .calendar{
        display: flex;
        justify-content: center;
    }

    //nav
    nav{
        .nav__container{
            justify-content: space-evenly;
            margin-bottom: 5px;
        }
        .nav__label{
            display: block;
            cursor: pointer;
            font-size: 25px;
        }
        .nav__menu{
            display: none;
        }
        .nav__input:checked + .nav__menu{
            display: flex;
            position: fixed;
            top: 120px;
            flex-direction: column;
            align-items: center;
            background-color: $primaryColor;
            gap: 1em;
            margin: 0;
        }
    }


    /* Nosotros */
    .ubi iframe{
        @include mixin2();
    }
    .img{
        width: auto;
        img{
            width: 100%;
        }
    }
    /* Información Pública*/
    /* como es texto, no hay mucho para hacer yujuuu!*/
    /* atención*/
    .botones{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        height: 15%;
        margin-bottom: 15px;
        .boton{
            font-size: 100%;
        }
    }
    // SARS-CoV-2
    .container{
        width: auto;
        iframe{
            @include mixin2();
        }
    }
    /* Contáctanos */
    /*igual xd */
}
@media (max-width: $tablet){
    .container{
        width: auto;
        iframe{
            @include mixin2();
        }
    }
    .container{
        width: auto;
        height: auto;
        iframe{
            @include mixin2();
        }
    }
    .noticias{
        width: auto;
        img{
            width: 100%;
        }
    }
    .destacados{
        width: 100%;
    }
    .eventos{
        text-align: center;
    }
    .grid{
        display: inline-block;
        grid-template-rows: 1fr;
    }
    .main{
        text-align: center;
    }
    .videos{
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        iframe{
            display: block;
            margin: 1% auto;
            width: auto;
            height: auto;
            }
        }
    .botones{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        height: 15%;
        margin-bottom: 15px;
        .boton{
            font-size: 100%;
            }
        }
    .twitter{
            justify-content: center;
        }
    .noticias{
            margin: 0 auto;
            justify-content: center;
            img{
                width: 100%;
                height: auto;
                max-width: 70%;
                }
            }
    .destacados{
            width: 100%;
        }
    .eventos{
            text-align: center;
        }
    .calendar{
            display: flex;
            justify-content: center;
            text-align: center;
            h2{
                text-align: center;
                justify-content: center;
            }
        }
    nav{
        .nav__container{
            justify-content: space-evenly;
            margin-bottom: 5px;
        }
        .nav__label{
            display: block;
            cursor: pointer;
            font-size: 25px;
        }
        .nav__menu{
            display: none;
        }
        .nav__input:checked + .nav__menu{
            display: flex;
            position: fixed;
            top: 120px;
            flex-direction: column;
            align-items: center;
            background-color: $primaryColor;
            gap: 1em;
            margin: 0;
            }
        }
    }
@media (max-width: $largeScreen){
    .container{
        width: auto;
        height: max-content;
        iframe{
            @include mixin2();
        }
    }
    nav{
        .nav__container{
            justify-content: space-evenly;
            margin-bottom: 5px;
        }
        .nav__label{
            display: block;
            cursor: pointer;
            font-size: 25px;
        }
        .nav__menu{
            display: none;
        }
        .nav__input:checked + .nav__menu{
            display: flex;
            position: fixed;
            top: 120px;
            flex-direction: column;
            align-items: center;
            background-color: $primaryColor;
            gap: 1em;
            margin: 0;
            }
        }
    }
